<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Sensor</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Mobile Sensor Cloud Infrastructure</a>
            </div>
            <!-- /.navbar-header -->


            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/monitor"><i class="fa fa-bar-chart-o fa-fw"></i> Monitor</a>
                        </li>
                        <li>
                            <a href="/addsensor"><i class="fa fa-edit fa-fw"></i> Add Sensor</a>
                        </li>
                        <li>
                            <a href="/usage"><i class="fa fa-table fa-fw"></i> Usage/Billing</a>
                        </li>
                        <li>
                            <a href="/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

		
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add Sensor</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form id="formVirtualSensor" role="form">
                                        <div class="form-group">
                                            <label>Choose physical sensor to subscribe (virtualize)</label>
                                            <select name="vsensorName" class="form-control">
                                                <option>Carbon Dioxide 1</option>
                                                <option>Carbon Dioxide 2</option>
                                                <option>Carbon Dioxide 3</option>
                                                <option>Carbon Dioxide 4</option>
                                                <option>Carbon Dioxide 5</option>
                                                <option>Noise 1</option>
                                                <option>Noise 2</option>
                                                <option>Noise 3</option>
                                                <option>Noise 4</option>
                                                <option>Noise 5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Choose Sensor Cluster</label>
                                            <select name="clusterName" class="form-control">
                                                <option>Carbon Dioxide San Jose Cluster</option>
                                                <option>Noise San Jose Cluster</option>
                                                <option>Carbon Dioxide Santa Clara Cluster</option>
                                                <option>Noise Santa Clara Cluster</option>
                                            </select>
                                        </div>
                                        <button id="btnAdd" type="button" class="btn btn-default">Add</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sensors
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table id="sensorTable" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Subscribed Sensor</th>
                                        <th>Cluster</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="even gradeC">
                                        <td>Carbon Dioxide 1</td>
                                        <td>Carbon Dioxide San Jose Cluster</td>

                                        <td class="center"><button type="button" class="btn btn-info btn-xs">Remove</button></td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>Noise 1</td>
                                        <td>Noise San Jose Cluster</td>

                                        <td class="center"><button type="button" class="btn btn-info btn-xs">Remove</button></td>
                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>Carbon Dioxide 2</td>
                                        <td>Carbon Dioxide Santa Clara Cluster</td>

                                        <td class="center"><button type="button" class="btn btn-info btn-xs">Remove</button></td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>Noise 2</td>
                                        <td>Noise Santa Clara Cluster</td>

                                        <td class="center"><button type="button" class="btn btn-info btn-xs">Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->



    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/metisMenu/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='dist/js/sb-admin-2.js') }}"></script>

    <script type="text/javascript">
        $('#btnAdd').click(function () {
            var vSensorName = $("#formVirtualSensor select[name=vsensorName]").val();
            var clusterName = $("#formVirtualSensor select[name=clusterName]").val();

//            <tr class="even gradeC">
//                                        <td>Noise 2</td>
//                                        <td>Noise Santa Clara Cluster</td>
//
//                                        <td class="center"><button type="button" class="btn btn-info btn-xs">Remove</button></td>
//                                    </tr>
            var strHTML = '<tr class="even gradeC">';
                strHTML += '<td>'+vSensorName+'</td>';
                strHTML += '<td>'+clusterName+'</td>';
                strHTML += '<td class="center"><button type="button" class="btn btn-info btn-xs">Remove</button></td>';
                strHTML += '</tr>';

            $('#sensorTable tr:last').after(strHTML);
        })

        $('#sensorTable').on('click', 'button', function(){
            $(event.target).closest('tr').remove();
        });
    </script>
</body>

</html>
