<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Slider - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/full-slider.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		input[type=text], select {
    width: 34%;
    padding: 12px 20px;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

		input[type=password], select {
    width: 34%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label{
	width: 100%;
    padding: 12px;
	color: black;
	font-weight: bolder;
	font-size: large;
	
}

.btn{
	width: 34%;
    padding: 12px 20px;
	font-size: large;
	font-weight: bold;
	border: 1px solid #ccc;
    border-radius: 4px;
}
.form-control{
   width: 34%;
    padding: 12px 20px;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
	</style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Mobile Sensor Cloud Infrastructure</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   
                    <li>
                        <a href="/">Login</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
       

        <!-- Wrapper for Slides -->

           
            <div style="margin: 0 auto; width: 40%; height: 680px; padding-top: 70px;">
      <form action="/auth/register" method="post" style="width: 90%; height: 680px; background-color: #f1f1f1; font-family: Arial, Helvetica, sans-serif; border: 1px solid #ccc;
    border-radius: 4px; margin: 0 auto;">
    <div class="container" style="padding: 40px;" >
         <label class="label" style="padding-left: 0;"><b>Enter First Name:*</b></label></br>
      <input type="text" id="username" placeholder="Enter First Name" name="first_name" required>
        </br> </br>
        
         <label class="label" style="padding-left: 0;"><b>Enter Last Name:*</b></label></br>
      <input type="text" id="username" placeholder="Enter Last Name" name="last_name" required>
        </br> </br>     
      <label class="label" style="padding-left: 0;"><b>Enter Username:*</b></label></br>
      <input type="text" id="username" placeholder="Enter Username" name="account" required>
        </br> </br>
      <label class="label" style="padding-left: 0;"><b>Enter Password:*</b></label> </br> 
      <input type="password" id="password" placeholder="Enter Password" name="password" required>
        </br> </br>
        <label class="label" style="padding-left: 0;"><b>Confirm Password:*</b></label> </br> 
      <input type="password" id="password" placeholder="Confirm Password" name="cspsw" required>
        </br> </br>
        <label class="label" style="padding-left: 0;">User Type:</label>
        </br> 
          <select class="form-control" name="role">
            <option value="1">Normal User</option>
            <option value="2">Sensor Provider</option>
            <option value="3">Cloud Provider</option>
          </select>
        </br> </br>
      <button class="btn" type="submit">Submit</button>
	  </br> </br>
		 <a style="text-decoration: none;" href="/">Already have an account? Login</a>
    </div>

  </form>
      </div>
            


      

    </header>




    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
